<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Index</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Index</h1>
    <a href="/users">users</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae odio
      similique aperiam, cupiditate necessitatibus eum totam quaerat facilis
      magni temporibus. Impedit fugiat possimus quo explicabo minus debitis
      ipsum sint perferendis.
    </p>
  </body>
</html>
