<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Users</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <h1>Users</h1>
    <a href="/">index</a>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates
      blanditiis ab ullam sed ipsum reprehenderit maiores repellat rem vel
      similique fugit dolore, eos voluptatum? Sed repellat distinctio odit porro
      ipsa!
    </p>
  </body>
</html>
